.table-header{
    margin-left: 300px;
}
body{
    background-color: #e43f5a;
}
h1{
    color: #162447;
}
h3{
    color: #162447;
}
hr {
    border-style: none;
    border-top-style: dotted;
    border-color: black;
    border-width: 6px;
    width: 30%;
}
.profile {
    block-size: 300px;
}

.profile:hover{
    block-size: 500px;
}


.tabelinha {
    border: 2px;

}