.profile{
    width: 10%;
    float: left;
}
.text{
    text-align: center;
    line-height: 1;
}
body{
    background-color: #e43f5a;
}
h1{
    color: #162447;
}
h3{
    color: #162447;
}
hr {
    border-style: none;
    border-top-style: dotted;
    border-color: black;
    border-width: 6px;
    width: 30%;
}
.tabelinha {
    border: 2px;
}
.texto{
    text-align: left;
    line-height: 2;
}