body{
    background-color: #e43f5a;
}
h1{
    color: #162447;
}
h3{
    color: #162447;
}
hr {
    border-style: none;
    border-top-style: dotted;
    border-color: gray;
    border-width: 6px;
    width: 30%;
}
img {
    block-size: 30px;
}